<!--<link rel="stylesheet" href="/stylesheets/login.css">

<form>
    <div class="container-login">
        <div class="mb-3">
            <label for="email1" class="form-email">Email</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1">
        </div>
        <!--<div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="check1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>-->

<link rel="stylesheet" href="/stylesheets/login.css">
<!--Contacto-->
<div class="container-login">
    <form id="login" action="/admin/login" method="post">
        <h3>Inicio de sesión</h3>
        <fieldset>
            <label for="nombre"></label>
            <input placeholder="Usuario" name="usuario" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <label for="email"></label>
            <input placeholder="Clave" name="password" type="password" tabindex="2" required>
        </fieldset>
        {{#if error}}
        <p>Usuario o clave incorrecta</p>
        {{/if}}
        <fieldset>
            <button name="submit" type="submit" id="contact-submit">Enviar</button>
        </fieldset>
    </form>
</div>