@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*Estilos de la barra de navegacion*/
.navbar-brand{
    font-family: 'Roboto', sans-serif;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
}

/*banner sobre nosotros*/
.hero {
    background: url(assets/banner.png) no-repeat;
    background-size: cover;
    height: 50%;
    min-height: 370px;   
    color: 	white;
    margin-top: 85px;
 }
 .hero h5{
    margin-top: 25px;
    color: white;
 }

 .hero h1{
    margin-top: 50px;
 }

/*linea roja*/
 .linea, .linea-banner{
    height: 3px;
    width: 100%;
    background-color: rgb(202, 202, 202);
    display: flex;
    margin: auto;
    margin-bottom: 1%;
  }

  /*Sobre nosotros*/
  .img-fluid{
    border-top-left-radius: 0% !important;
  }
  .card{
    margin-top: 40px;
    border:none !important;
  }
  .card h4{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
  }
.container-aliados{
  display: flex;
  padding: 2% 2% 2% 2%;
}
.title-aliados{
  margin-top: 2%;
}
.container-aliados h4{
    font-family: 'Roboto', sans-serif;
}
.aliados-box1{
    background-image:url("./assets/aliados/3m.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box2{
    background-image:url("./assets/aliados/bd.png");
    background-position: center;
    background-size: 60%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box3{
    background-image:url("./assets/aliados/copeland.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box4{
    background-image:url("./assets/aliados/hitachi.png");
    background-position: center;
    background-size: 60%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box5{
    background-image:url("./assets/aliados/kc.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box6{
    background-image:url("./assets/aliados/philips.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box7{
    background-image:url("./assets/aliados/siemens.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box8{
    background-image:url("./assets/aliados/stanley.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
.aliados-box9{
    background-image:url("./assets/aliados/truper.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box10{
    background-image:url("./assets/aliados/skf.png");
    background-position: center;
    background-size: 50%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box11{
    background-image:url("./assets/aliados/dw.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box12{
    background-image:url("./assets/aliados/sika.png");
    background-position: center;
    background-size: 60%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  
.img-aliados :hover{
    transition: 0.5s;
    background-position:center;
    background-size: 40%;
  }

/*Clientes*/
.frame-title-clientes{
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
}
.clientes{
  padding: 2% 2% 2% 2%;
}
.frame {
  position: relative;
  width: 190px;
  height: 200px;
  overflow: hidden
}
.frame img {
  align-items: center;
  height: 200px;
  width: 190px;
}
.carousel {
    animation: carousel 10s ease-in-out infinite;
}
@keyframes carousel {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-200px)
    }
    50%, 70% {
        transform: translateY(-400px)
    }
    75%, 95% {
        transform: translateY(-600px)
    }
    100% {
        transform: translateY(-800px)
    }
}

/* PRUEBA ACORDION*/
/*general*/
*, *::after, *::before{
  margin: 0;
  padding: 0;
 /* box-sizing:border-box;*/
}
.body{
  font-family: 'Roboto', sans-serif;
}
div.c{
  position: relative;
  margin:2em;
}
 #faq-1 {
  display: none;
}
.c ul li {
  list-style-type: none;
}
h3{
  background:#565759;
  color:white;
  padding:14px;
  position: relative;
  font-size: 23px;
}
label::before{
  content:"";
  display: inline-block;
  border: 10px solid transparent;
  border-left: 15px solid white;
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
}
div.p p {
  padding:2em;
}
input:checked ~ h3 label::before{
  border-left:10px solid transparent;
  border-top:10px solid white;
  margin-top:15px;
  margin-right:10px;
}
input:checked ~ h3 ~ div.p{
  max-height: 170px;
}
a{
  color:#404247;
}

/*Contacto*/

/*Footer*/
*{
  font-family:'Roboto', sans-serif;
}
.footer-distributed{
	background: #252628;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 30px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 35%;
}

/* logo */
.footer-distributed img{
  width: 80%;
  height: 50%;
	margin: 0;
}
.footer-distributed span{
	color:  whitesmoke;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight: 400%;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  white;
	font-size: 12px;
	font-weight: normal;
  line-height: 4;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #252628;
	color: #ffffff;
	font-size: 16px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.bi bi-envelope{
	font-size: 20px;
	line-height: 20px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400%;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: 25%;
	font-size:16px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  red;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 25%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
  

