@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Estilos de la barra de navegacion*/
.navbar-brand{
    font-family: 'Roboto', sans-serif;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
}

/*banner sobre nosotros*/
.hero {
    background: url(assets/banner.png) no-repeat;
    background-size: cover;
    height: 1.5vh;
    min-height: 370px;   
    color: 	white;
    margin-top: 85px;
 }
 .hero h5{
    margin-top: 5px;
 }
 .hero h1{
    margin-top: 40px;
 }

/*linea roja*/
 .linea{
    height: 5px;
    width: 100%;
    background-color: red;
    display: flex;
    margin: auto;
    margin-top: 1vh;
  }

  /*Sobre nosotros*/
  .card{
    margin-top: 40px;
    border:none !important;
  }
  .card h4{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
  }
  .img {
    border-radius: 20%; 
  }

  /*Clientes*/
  /*.frame {
    position: relative;
    top: 20px;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border-radius: 2px;
    color:black;
    overflow: hidden
}

.frame img {
    align-items: center;
    height: 200px;
    width: 200;
}
.carousel {
    animation: carousel 10s ease-in-out infinite;
}
@keyframes carousel {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-200px)
    }
    50%, 70% {
        transform: translateY(-400px)
    }
    75%, 95% {
        transform: translateY(-600px)
    }
    100% {
        transform: translateY(-800px)
    }
}*/
/*alidos img*/
.container-aliados{
    margin: auto;
    margin-top: 5vh;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
}
.title-aliados{
    margin-right: 5vh;
    margin-left: 8vh;
    margin: auto;
}
.container-aliados h4{
    font-family: 'Roboto', sans-serif;
}

.aliados-box1{
    background-image:url("./assets/aliados/3m.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box2{
    background-image:url("./assets/aliados/bd.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box3{
    background-image:url("./assets/aliados/copeland.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box4{
    background-image:url("./assets/aliados/hitachi.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box5{
    background-image:url("./assets/aliados/kc.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box6{
    background-image:url("./assets/aliados/philips.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box7{
    background-image:url("./assets/aliados/siemens.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box8{
    background-image:url("./assets/aliados/stanley.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
.aliados-box9{
    background-image:url("./assets/aliados/truper.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  .aliados-box10{
    background-image:url("./assets/aliados/10.png");
    background-position: center;
    background-size: 70%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    height: 15vh;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
  }
  
.img-aliados :hover{
    transition: 0.5s;
    background-position:center;
    background-size: 40%;
  }


