<!--banner-->
<div class="container-fluid">
    <div id="home" class="row aling-items-center hero">
        <div class="col-md-4 offset-lg-2">
            <h1>Distribuidora Jeances 512 C.A.</h1>
            <h5>Tú necesidad, nuestra prioridad</h5>
        </div>
    </div>
</div>

<!--Sobre nosotros-->
<div class="card md-8 container">
    <div class="row g-6">
        <div class="col-md-3 offset-xs-6">
            <img src="/images/distribucion.png" class="img-fluid" alt="...">
        </div>
        <div class="col-md-9 offset-xs-6">
            <div class="card-bodyQuienes">
                <a id="nosotros">
                    <h4 class="card-titleQuienes">Distribuidora Jeances</h4>
                </a>
                <div class="linea"></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam error eaque fugit velit enim,
                    deleniti laboriosam quam non corporis maxime eligendi dolores aspernatur nulla, ratione unde?
                    Fugiat obcaecati vitae magni?</p>

            </div>
        </div>
    </div>
</div>
<!--Servicios/Aliados-->
<section class="container-aliados">
    <div class="row g-6 ">
        <div class="title-aliados">
            <div class="col-md-12">
                <a id="servicios">
                    <h4>Importación y Distribución</h4>
                </a>
                <div class="linea"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sequi dolorum mollitia, delectus
                    voluptate
                    error eveniet voluptatem neque dolore sed? Eveniet illo reprehenderit neque distinctio odit,
                    totam
                    eligendi laboriosam maiores?</p>
                <div class="img-aliados">
                    <div class="row">
                        <div class="aliados-box1 col-md-2 col-4">
                        </div>
                        <div class="aliados-box2 col-md-2 col-4">
                        </div>
                        <div class="aliados-box3 col-md-2 col-4">
                        </div>
                        <div class="aliados-box4 col-md-2 col-4">
                        </div>
                        <div class="aliados-box5 col-md-2 col-4">
                        </div>
                        <div class="aliados-box6 col-md-2 col-4">
                        </div>

                    </div>
                    <div class="row">
                        <div class="aliados-box7 col-md-2 col-4">
                        </div>
                        <div class="aliados-box8 col-md-2 col-4">
                        </div>
                        <div class="aliados-box9 col-md-2 col-4">
                        </div>
                        <div class="aliados-box10 col-md-2 col-4">
                        </div>
                        <div class="aliados-box11 col-md-2 col-4">
                        </div>
                        <div class="aliados-box12 col-md-2 col-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--Productos-->
<div class="c">
    <input type="checkbox" id="productos">
    <h3><label for="productos">Algunos de nuestros productos</label></h3>
    <div class="p">
        <ul>
            {{#each productos}}
            <li>{{producto}} </li>
            {{/each}}
        </ul>
    </div>
</div>

<!--Clientes-->
<section class="clientes">
    <div class="frame-title-clientes">
        <h4>Nuestros clientes</h4>
    </div>
    <div class="linea"></div>
    <div class="frame-clientes">
        <div class="row">
            <div class="col-md-8">
                <div class="frame-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, ad ipsum iusto ea eos aperiam
                        earum, minus dolorum impedit laudantium corrupti enim. Odio alias, veniam atque eaque
                        temporibus vitae laboriosam.
                </div>
            </div>
            <div class="col-md-1 espacio"></div>
            <div class="frame">
                <div class="col-md-3">
                    <div class="carousel">
                        <img src="./images/carousel/genvenLogo.png">
                        <img src="./images/carousel/intecapsLogo.png">
                        <img src="./images/carousel/goldDataLogo.png">
                        <img src="./images/carousel/letiLogo.png">
                        <img src="./images/carousel/oftalmiLogo.png">
                        <img src="./images/carousel/venelectronicsLogo.png">
                        <img src="./images/carousel/walcoLogo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>